# Acquiring the data from the interwebz using worldfootballR

### This notebook loads data using the worldfootballR package. To understand this package and the code better, I suggest reading the documentation.

In [2]:
%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
from matplotlib import rcParams
rcParams['figure.figsize'] = (16, 100)

import warnings
from rpy2.rinterface import RRuntimeWarning
warnings.filterwarnings("ignore") # Ignore all warnings
# warnings.filterwarnings("ignore", category=RRuntimeWarning) # Show some warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

During startup - Warning messages:
1: Setting LC_COLLATE failed, using "C"
2: Setting LC_TIME failed, using "C"
3: Setting LC_MESSAGES failed, using "C"
4: Setting LC_MONETARY failed, using "C"

In [3]:
%%javascript
// Disable auto-scrolling
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [4]:
%%R

require('worldfootballR')

R[write to console]: Loading required package: worldfootballR

## I am trying to creeate a dataframe that collates points for every year

In [46]:
%%R -o league_2023

league_2023 <- try({
fb_season_team_stats("ENG", "M", 2023, "1st", "league_table")
})

In [47]:
%%R -o league_2022

league_2022 <- try({
fb_season_team_stats("ENG", "M", 2022, "1st", "league_table")
})

In [48]:
%%R -o league_2021

league_2021 <- try({
fb_season_team_stats("ENG", "M", 2021, "1st", "league_table")
})

In [49]:
%%R -o league_2020

league_2020 <- try({
fb_season_team_stats("ENG", "M", 2020, "1st", "league_table")
})

In [50]:
%%R -o league_2019

league_2019 <- try({
fb_season_team_stats("ENG", "M", 2019, "1st", "league_table")
})

In [51]:
%%R -o league_2018

league_2018 <- try({
fb_season_team_stats("ENG", "M", 2018, "1st", "league_table")
})

In [52]:
%%R -o league_2017

league_2017 <- try({
fb_season_team_stats("ENG", "M", 2017, "1st", "league_table")
})

In [53]:
%%R -o league_2016

league_2016 <- try({
fb_season_team_stats("ENG", "M", 2016, "1st", "league_table")
})

In [54]:
%%R -o league_2015

league_2015 <- try({
fb_season_team_stats("ENG", "M", 2015, "1st", "league_table")
})

In [55]:
%%R -o league_2014

league_2014 <- try({
fb_season_team_stats("ENG", "M", 2014, "1st", "league_table")
})

In [56]:
%%R -o league_2013

league_2013 <- try({
fb_season_team_stats("ENG", "M", 2013, "1st", "league_table")
})

In [57]:
%%R -o league_2012

league_2012 <- try({
fb_season_team_stats("ENG", "M", 2012, "1st", "league_table")
})

In [58]:
%%R -o league_2011

league_2011 <- try({
fb_season_team_stats("ENG", "M", 2011, "1st", "league_table")
})

In [59]:
%%R -o league_2010

league_2010 <- try({
fb_season_team_stats("ENG", "M", 2010, "1st", "league_table")
})

In [60]:
%%R -o league_2009

league_2009 <- try({
fb_season_team_stats("ENG", "M", 2009, "1st", "league_table")
})

In [61]:
%%R -o league_2008

league_2008 <- try({
fb_season_team_stats("ENG", "M", 2008, "1st", "league_table")
})

In [62]:
%%R -o league_2007

league_2007 <- try({
fb_season_team_stats("ENG", "M", 2007, "1st", "league_table")
})

In [63]:
%%R -o league_2006

league_2006 <- try({
fb_season_team_stats("ENG", "M", 2006, "1st", "league_table")
})

In [64]:
%%R -o league_2005

league_2005 <- try({
fb_season_team_stats("ENG", "M", 2005, "1st", "league_table")
})

In [65]:
%%R -o league_2004

league_2004 <- try({
fb_season_team_stats("ENG", "M", 2004, "1st", "league_table")
})

In [66]:
%%R -o league_2003

league_2003 <- try({
fb_season_team_stats("ENG", "M", 2003, "1st", "league_table")
})

In [67]:
%%R -o league_2002

league_2002 <- try({
fb_season_team_stats("ENG", "M", 2002, "1st", "league_table")
})

In [68]:
%%R -o league_2001

league_2001 <- try({
fb_season_team_stats("ENG", "M", 2001, "1st", "league_table")
})

In [69]:
%%R -o league_2000

league_2000 <- try({
fb_season_team_stats("ENG", "M", 2000, "1st", "league_table")
})

In [70]:
%%R -o league_1999

league_1999 <- try({
fb_season_team_stats("ENG", "M", 1999, "1st", "league_table")
})

In [71]:
%%R -o league_1998

league_1998 <- try({
fb_season_team_stats("ENG", "M", 1998, "1st", "league_table")
})

In [72]:
%%R -o league_1997

league_1997 <- try({
fb_season_team_stats("ENG", "M", 1997, "1st", "league_table")
})

In [73]:
%%R -o league_1996

league_1996 <- try({
fb_season_team_stats("ENG", "M", 1996, "1st", "league_table")
})

In [74]:
%%R -o league_1995

league_1995 <- try({
fb_season_team_stats("ENG", "M", 1995, "1st", "league_table")
})

In [75]:
%%R -o league_1994

league_1994 <- try({
fb_season_team_stats("ENG", "M", 1994, "1st", "league_table")
})

In [76]:
#save all the dataframes as one list in python
league_list = [league_2023, league_2022, league_2021, league_2020, league_2019, league_2018, league_2017, league_2016, league_2015, league_2014, league_2013, league_2012, league_2011, league_2010, league_2009, league_2008, league_2007, league_2006, league_2005, league_2004, league_2003, league_2002, league_2001, league_2000, league_1999, league_1998, league_1997, league_1996, league_1995, league_1994]

In [81]:
#Loop through league_list and rename each Pts column to the year of the season and save it as a csv
for i in range(len(league_list)):
    league_list[i].rename(columns={'Pts': 'Pts_'+str(2023-i)}, inplace=True)
    league_list[i].to_csv('data/league_'+str(2023-i)+'.csv', index=False)
    league_list[i] = league_list[i][['Squad', 'Pts_'+str(2023-i)]]

In [50]:
#Keep all the squads in one column and all the points for each season in another column
league_2023 = pd.read_csv('data/league_2023.csv')
league_2022 = pd.read_csv('data/league_2022.csv')
league_2021 = pd.read_csv('data/league_2021.csv')
league_2019 = pd.read_csv('data/league_2019.csv')
league_2020 = pd.read_csv('data/league_2020.csv')
league_2018 = pd.read_csv('data/league_2018.csv')
league_2017 = pd.read_csv('data/league_2017.csv')
league_2016 = pd.read_csv('data/league_2016.csv')
league_2015 = pd.read_csv('data/league_2015.csv')
league_2014 = pd.read_csv('data/league_2014.csv')
league_2013 = pd.read_csv('data/league_2013.csv')
league_2012 = pd.read_csv('data/league_2012.csv')
league_2011 = pd.read_csv('data/league_2011.csv')
league_2010 = pd.read_csv('data/league_2010.csv')
league_2009 = pd.read_csv('data/league_2009.csv')
league_2008 = pd.read_csv('data/league_2008.csv')
league_2007 = pd.read_csv('data/league_2007.csv')
league_2006 = pd.read_csv('data/league_2006.csv')
league_2005 = pd.read_csv('data/league_2005.csv')
league_2004 = pd.read_csv('data/league_2004.csv')
league_2003 = pd.read_csv('data/league_2003.csv')
league_2002 = pd.read_csv('data/league_2002.csv')
league_2001 = pd.read_csv('data/league_2001.csv')
league_2000 = pd.read_csv('data/league_2000.csv')
league_1999 = pd.read_csv('data/league_1999.csv')
league_1998 = pd.read_csv('data/league_1998.csv')
league_1997 = pd.read_csv('data/league_1997.csv')
league_1996 = pd.read_csv('data/league_1996.csv')
league_1995 = pd.read_csv('data/league_1995.csv')
league_1994 = pd.read_csv('data/league_1994.csv')

In [51]:
#Merge all the dataframes into one dataframe
league_historical = pd.merge(league_2023, league_2022, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2021, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2020, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2019, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2018, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2017, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2016, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2015, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2014, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2013, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2012, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2011, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2010, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2009, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2008, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2007, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2006, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2005, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2004, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2003, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2002, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2001, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_2000, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_1999, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_1998, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_1997, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_1996, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_1995, on='Squad', how='outer')
league_historical = pd.merge(league_historical, league_1994, on='Squad', how='outer')


#only keep the Pts columns for each season and rename it to the year of the season
league_historical

,Squad,Pts_2023,Pts_2022,Pts_2021,Pts_2020,Pts_2019,Pts_2018,Pts_2017,Pts_2016,Pts_2015,...,Pts_2003,Pts_2002,Pts_2001,Pts_2000,Pts_1999,Pts_1998,Pts_1997,Pts_1996,Pts_1995,Pts_1994
0,Arsenal,81.0,69.0,61.0,56.0,70.0,63.0,75.0,71.0,75.0,...,78.0,87.0,70.0,73.0,78.0,78.0,68.0,63.0,51.0,71.0
1,Aston Villa,54.0,45.0,55.0,35.0,NaN,NaN,NaN,17.0,38.0,...,45.0,50.0,54.0,58.0,55.0,57.0,61.0,63.0,48.0,57.0
2,Bournemouth,39.0,NaN,NaN,34.0,45.0,44.0,46.0,42.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Brentford,50.0,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Brighton,55.0,51.0,41.0,41.0,36.0,40.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Chelsea,42.0,74.0,67.0,66.0,72.0,70.0,93.0,50.0,87.0,...,67.0,64.0,61.0,65.0,75.0,63.0,59.0,50.0,54.0,51.0
6,Crystal Palace,40.0,48.0,44.0,43.0,49.0,44.0,41.0,42.0,48.0,...,NaN,NaN,NaN,NaN,NaN,33.0,NaN,NaN,45.0,NaN
7,Everton,29.0,39.0,59.0,49.0,54.0,49.0,61.0,47.0,47.0,...,59.0,43.0,42.0,50.0,43.0,40.0,42.0,61.0,50.0,44.0
8,Fulham,45.0,NaN,28.0,NaN,26.0,NaN,NaN,NaN,NaN,...,48.0,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Leeds United,30.0,38.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN,...,47.0,66.0,68.0,69.0,67.0,59.0,46.0,43.0,73.0,70.0
10,Leicester City,30.0,52.0,66.0,62.0,52.0,47.0,44.0,81.0,41.0,...,NaN,28.0,48.0,55.0,49.0,53.0,47.0,NaN,29.0,NaN
11,Liverpool,62.0,92.0,69.0,99.0,97.0,75.0,76.0,60.0,62.0,...,64.0,80.0,69.0,67.0,54.0,65.0,68.0,71.0,74.0,60.0
12,Manchester City,82.0,93.0,86.0,81.0,98.0,100.0,78.0,66.0,79.0,...,51.0,NaN,34.0,NaN,NaN,NaN,NaN,38.0,49.0,45.0
13,Manchester Utd,63.0,58.0,74.0,66.0,66.0,81.0,69.0,66.0,70.0,...,83.0,77.0,80.0,91.0,79.0,77.0,75.0,82.0,88.0,92.0
14,Newcastle Utd,65.0,49.0,45.0,44.0,45.0,44.0,NaN,37.0,39.0,...,69.0,71.0,51.0,52.0,46.0,44.0,68.0,78.0,72.0,77.0
15,Nott'ham Forest,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,30.0,NaN,34.0,58.0,77.0,NaN
16,Southampton,24.0,40.0,43.0,52.0,39.0,36.0,46.0,63.0,60.0,...,52.0,45.0,52.0,44.0,41.0,48.0,41.0,38.0,54.0,43.0
17,Tottenham,57.0,71.0,62.0,59.0,71.0,77.0,86.0,70.0,64.0,...,50.0,50.0,49.0,53.0,47.0,44.0,46.0,61.0,62.0,45.0
18,West Ham,37.0,56.0,65.0,39.0,52.0,42.0,45.0,62.0,47.0,...,42.0,53.0,42.0,55.0,57.0,56.0,42.0,51.0,50.0,52.0
19,Wolves,40.0,51.0,45.0,59.0,57.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Burnley,NaN,35.0,39.0,54.0,40.0,54.0,40.0,NaN,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Norwich City,NaN,22.0,NaN,21.0,NaN,NaN,NaN,34.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,53.0
22,Watford,NaN,23.0,NaN,34.0,50.0,41.0,40.0,45.0,NaN,...,NaN,NaN,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN
23,Sheffield Utd,NaN,NaN,23.0,54.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0
24,West Brom,NaN,NaN,26.0,NaN,NaN,31.0,45.0,43.0,44.0,...,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Cardiff City,NaN,NaN,NaN,NaN,34.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Huddersfield,NaN,NaN,NaN,NaN,16.0,37.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Stoke City,NaN,NaN,NaN,NaN,NaN,33.0,44.0,51.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Swansea City,NaN,NaN,NaN,NaN,NaN,33.0,41.0,47.0,56.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Hull City,NaN,NaN,NaN,NaN,NaN,NaN,34.0,NaN,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Middlesbrough,NaN,NaN,NaN,NaN,NaN,NaN,28.0,NaN,NaN,...,49.0,45.0,42.0,52.0,51.0,NaN,39.0,43.0,NaN,NaN
31,Sunderland,NaN,NaN,NaN,NaN,NaN,NaN,24.0,39.0,38.0,...,19.0,40.0,57.0,58.0,NaN,NaN,40.0,NaN,NaN,NaN
32,QPR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,60.0,60.0
33,Reading,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Wigan Athletic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Blackburn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.0,46.0,NaN,NaN,35.0,58.0,42.0,61.0,89.0,84.0
36,Bolton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,44.0,40.0,NaN,NaN,NaN,40.0,NaN,29.0,NaN,NaN
37,Birmingham City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Blackpool,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Portsmouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Derby County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.0,42.0,38.0,52.0,55.0,46.0,NaN,NaN,NaN
41,Charlton Ath,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.0,44.0,52.0,NaN,36.0,NaN,NaN,NaN,NaN,NaN
42,Ipswich Town,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,36.0,66.0,NaN,NaN,NaN,NaN,NaN,27.0,43.0
43,Bradford City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN
44,Coventry City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,34.0,44.0,42.0,52.0,41.0,38.0,50.0,56.0
45,Sheffield Weds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,31.0,46.0,44.0,57.0,40.0,51.0,64.0
46,Wimbledon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,33.0,42.0,44.0,56.0,41.0,56.0,65.0
47,Barnsley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35.0,NaN,NaN,NaN,NaN
48,Oldham Athletic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0
49,Swindon Town,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0

In [52]:
league_historical['Squad'] = league_historical['Squad'].str.replace('Utd', 'United')
league_historical['Squad'] = league_historical['Squad'].str.replace('Weds', 'Wednesday')
league_historical['Squad'] = league_historical['Squad'].str.replace('Wolves', 'Wolverhampton Wanderers')
league_historical['Squad'] = league_historical['Squad'].str.replace('QPR', 'Queens Park Rangers')
league_historical['Squad'] = league_historical['Squad'].str.replace('Bolton', 'Bolton Wanderers')
league_historical['Squad'] = league_historical['Squad'].str.replace('Nott\'ham Forest', 'Nottingham Forest')

In [53]:
#add a column called 'Total_Pts' that sums up all the points for each team
league_historical['Total_Pts'] = league_historical.sum(axis=1)
league_historical

,Squad,Pts_2023,Pts_2022,Pts_2021,Pts_2020,Pts_2019,Pts_2018,Pts_2017,Pts_2016,Pts_2015,...,Pts_2002,Pts_2001,Pts_2000,Pts_1999,Pts_1998,Pts_1997,Pts_1996,Pts_1995,Pts_1994,Total_Pts
0,Arsenal,81.0,69.0,61.0,56.0,70.0,63.0,75.0,71.0,75.0,...,87.0,70.0,73.0,78.0,78.0,68.0,63.0,51.0,71.0,2166.0
1,Aston Villa,54.0,45.0,55.0,35.0,NaN,NaN,NaN,17.0,38.0,...,50.0,54.0,58.0,55.0,57.0,61.0,63.0,48.0,57.0,1338.0
2,Bournemouth,39.0,NaN,NaN,34.0,45.0,44.0,46.0,42.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,250.0
3,Brentford,50.0,46.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0
4,Brighton,55.0,51.0,41.0,41.0,36.0,40.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,264.0
5,Chelsea,42.0,74.0,67.0,66.0,72.0,70.0,93.0,50.0,87.0,...,64.0,61.0,65.0,75.0,63.0,59.0,50.0,54.0,51.0,2124.0
6,Crystal Palace,40.0,48.0,44.0,43.0,49.0,44.0,41.0,42.0,48.0,...,NaN,NaN,NaN,NaN,33.0,NaN,NaN,45.0,NaN,555.0
7,Everton,29.0,39.0,59.0,49.0,54.0,49.0,61.0,47.0,47.0,...,43.0,42.0,50.0,43.0,40.0,42.0,61.0,50.0,44.0,1550.0
8,Fulham,45.0,NaN,28.0,NaN,26.0,NaN,NaN,NaN,NaN,...,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,685.0
9,Leeds United,30.0,38.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN,...,66.0,68.0,69.0,67.0,59.0,46.0,43.0,73.0,70.0,768.0
10,Leicester City,30.0,52.0,66.0,62.0,52.0,47.0,44.0,81.0,41.0,...,28.0,48.0,55.0,49.0,53.0,47.0,NaN,29.0,NaN,817.0
11,Liverpool,62.0,92.0,69.0,99.0,97.0,75.0,76.0,60.0,62.0,...,80.0,69.0,67.0,54.0,65.0,68.0,71.0,74.0,60.0,2112.0
12,Manchester City,82.0,93.0,86.0,81.0,98.0,100.0,78.0,66.0,79.0,...,NaN,34.0,NaN,NaN,NaN,NaN,38.0,49.0,45.0,1654.0
13,Manchester United,63.0,58.0,74.0,66.0,66.0,81.0,69.0,66.0,70.0,...,77.0,80.0,91.0,79.0,77.0,75.0,82.0,88.0,92.0,2345.0
14,Newcastle United,65.0,49.0,45.0,44.0,45.0,44.0,NaN,37.0,39.0,...,71.0,51.0,52.0,46.0,44.0,68.0,78.0,72.0,77.0,1475.0
15,Nottingham Forest,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,30.0,NaN,34.0,58.0,77.0,NaN,229.0
16,Southampton,24.0,40.0,43.0,52.0,39.0,36.0,46.0,63.0,60.0,...,45.0,52.0,44.0,41.0,48.0,41.0,38.0,54.0,43.0,1037.0
17,Tottenham,57.0,71.0,62.0,59.0,71.0,77.0,86.0,70.0,64.0,...,50.0,49.0,53.0,47.0,44.0,46.0,61.0,62.0,45.0,1785.0
18,West Ham,37.0,56.0,65.0,39.0,52.0,42.0,45.0,62.0,47.0,...,53.0,42.0,55.0,57.0,56.0,42.0,51.0,50.0,52.0,1295.0
19,Wolverhampton Wanderers,40.0,51.0,45.0,59.0,57.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,388.0
20,Burnley,NaN,35.0,39.0,54.0,40.0,54.0,40.0,NaN,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325.0
21,Norwich City,NaN,22.0,NaN,21.0,NaN,NaN,NaN,34.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,53.0,330.0
22,Watford,NaN,23.0,NaN,34.0,50.0,41.0,40.0,45.0,NaN,...,NaN,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN,285.0
23,Sheffield United,NaN,NaN,23.0,54.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,157.0
24,West Brom,NaN,NaN,26.0,NaN,NaN,31.0,45.0,43.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,490.0
25,Cardiff City,NaN,NaN,NaN,NaN,34.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0
26,Huddersfield,NaN,NaN,NaN,NaN,16.0,37.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0
27,Stoke City,NaN,NaN,NaN,NaN,NaN,33.0,44.0,51.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,457.0
28,Swansea City,NaN,NaN,NaN,NaN,NaN,33.0,41.0,47.0,56.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,312.0
29,Hull City,NaN,NaN,NaN,NaN,NaN,NaN,34.0,NaN,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,171.0
30,Middlesbrough,NaN,NaN,NaN,NaN,NaN,NaN,28.0,NaN,NaN,...,45.0,42.0,52.0,51.0,NaN,39.0,43.0,NaN,NaN,617.0
31,Sunderland,NaN,NaN,NaN,NaN,NaN,NaN,24.0,39.0,38.0,...,40.0,57.0,58.0,NaN,NaN,40.0,NaN,NaN,NaN,618.0
32,Queens Park Rangers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,33.0,60.0,60.0,245.0
33,Reading,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.0
34,Wigan Athletic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,331.0
35,Blackburn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,46.0,NaN,NaN,35.0,58.0,42.0,61.0,89.0,84.0,899.0
36,Bolton Wanderers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.0,NaN,NaN,NaN,40.0,NaN,29.0,NaN,NaN,575.0
37,Birmingham City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301.0
38,Blackpool,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.0
39,Portsmouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,293.0
40,Derby County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.0,42.0,38.0,52.0,55.0,46.0,NaN,NaN,NaN,274.0
41,Charlton Ath,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,44.0,52.0,NaN,36.0,NaN,NaN,NaN,NaN,NaN,361.0
42,Ipswich Town,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36.0,66.0,NaN,NaN,NaN,NaN,NaN,27.0,43.0,172.0
43,Bradford City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,26.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN,62.0
44,Coventry City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,34.0,44.0,42.0,52.0,41.0,38.0,50.0,56.0,357.0
45,Sheffield Wednesday,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,31.0,46.0,44.0,57.0,40.0,51.0,64.0,333.0
46,Wimbledon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,33.0,42.0,44.0,56.0,41.0,56.0,65.0,337.0
47,Barnsley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,35.0,NaN,NaN,NaN,NaN,35.0
48,Oldham Athletic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,40.0
49,Swindon Town,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,30.0

In [54]:
#melt the dataframe so that each row is a team and the columns are the years
#league_historical = pd.melt(league_historical, id_vars=['Squad', 'Total_Pts'], var_name='Year', value_name='Pts')

In [55]:
#save league as a csv file
league_historical.to_csv('points.csv', index=False)

In [91]:
prem_champ_df = pd.read_csv('master.csv')

In [92]:
#find bolton in the dataframe, not exact match
prem_champ_df[prem_champ_df['club_name'].str.contains('Wigan')]

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season,country
181298,Wigan Athletic,Henri Camara,28.0,Centre-Forward,Wolverhampton Wanderers,6.45m,in,Summer,6.45,Premier League,2005,2005/2006,England
181299,Wigan Athletic,David Connolly,28.0,Centre-Forward,Leicester City,3.00m,in,Summer,3.00,Premier League,2005,2005/2006,England
181300,Wigan Athletic,Damien Francis,26.0,Central Midfield,Norwich City,2.25m,in,Summer,2.25,Premier League,2005,2005/2006,England
181301,Wigan Athletic,Mike Pollitt,33.0,Goalkeeper,Rotherham United,300k,in,Summer,0.30,Premier League,2005,2005/2006,England
181302,Wigan Athletic,Ryan Taylor,20.0,Right-Back,Tranmere Rovers,100k,in,Summer,0.10,Premier League,2005,2005/2006,England
...,...,...,...,...,...,...,...,...,...,...,...,...,...
267344,Wigan Athletic,Graeme Shinnie,31.0,Defensive Midfield,Aberdeen FC,loan transfer,out,Winter,NaN,Championship,2022,2022/2023,England
267345,Wigan Athletic,Josh Stones,19.0,Centre-Forward,Ross County,loan transfer,out,Winter,NaN,Championship,2022,2022/2023,England
267346,Wigan Athletic,Gwion Edwards,29.0,Right Winger,Ross County,loan transfer,out,Winter,NaN,Championship,2022,2022/2023,England
267347,Wigan Athletic,Nathan Broadhead,24.0,Centre-Forward,Everton U21,"End of loanJan 8, 2023",out,Winter,NaN,Championship,2022,2022/2023,England
267348,Wigan Athletic,Rarmani Edmonds-Green,23.0,Centre-Back,Huddersfield,"End of loanJan 11, 2023",out,Winter,NaN,Championship,2022,2022/2023,England

In [93]:
prem_champ_df = prem_champ_df[prem_champ_df['club_name'].isin(['Chelsea FC', 'Manchester United', 'Manchester City', 'Liverpool FC', 'Norwich City', 'Huddersfield Town',
 'Arsenal FC', 'Tottenham Hotspur', 'Leicester City', 'West Ham United', 'Wolverhampton Wanderers', 'Southampton FC', 'Queens Park Rangers', 'Hull City', 'Wigan Athletic',
 'Aston Villa', 'Everton FC', 'Newcastle United', 'Leeds United', 'Southampton FC', 'Crystal Palace', 'Brighton & Hove Albion', 'Burnley FC', 'Sunderland AFC', 
 'Fulham FC', 'West Bromwich Albion', 'Sheffield United', 'Nottingham Forest', 'Swansea City',  'West Bromwich Albion', 'Stoke City', 'Brentford FC', 'Watford FC', 'AFC Bournemouth',
 'Cardiff City', 'Birmingham City', 'Bolton Wanderers'])]

In [94]:
#in clubname, replace ' FC' with nothing
prem_champ_df['club_name'] = prem_champ_df['club_name'].str.replace(' FC', '')

In [95]:
#group by club_name, year and sum fee_cleaned
prem_champ_df = prem_champ_df.groupby(['club_name', 'year']).sum('fee_cleaned').reset_index()
prem_champ_df

                   club_name  year     age  fee_cleaned
0            AFC Bournemouth  2013  1672.0        4.055
1            AFC Bournemouth  2014  1292.0        8.520
2            AFC Bournemouth  2015  1678.0       55.760
3            AFC Bournemouth  2016  1170.0       64.380
4            AFC Bournemouth  2017   733.0       34.300
..                       ...   ...     ...          ...
771  Wolverhampton Wanderers  2018  1923.0      136.050
772  Wolverhampton Wanderers  2019  1165.0      140.800
773  Wolverhampton Wanderers  2020   967.0      166.789
774  Wolverhampton Wanderers  2021   988.0       69.400
775  Wolverhampton Wanderers  2022  1333.0      237.477

[776 rows x 4 columns]

In [96]:
#give me unique club names in prem_champ_df
prem_champ_df['club_name'].unique()

array(['AFC Bournemouth', 'Arsenal', 'Aston Villa', 'Birmingham City',
       'Bolton Wanderers', 'Brentford', 'Brighton & Hove Albion',
       'Burnley', 'Cardiff City', 'Chelsea', 'Crystal Palace', 'Everton',
       'Fulham', 'Huddersfield Town', 'Hull City', 'Leeds United',
       'Leicester City', 'Liverpool', 'Manchester City',
       'Manchester United', 'Newcastle United', 'Norwich City',
       'Nottingham Forest', 'Queens Park Rangers', 'Sheffield United',
       'Southampton', 'Stoke City', 'Sunderland AFC', 'Swansea City',
       'Tottenham Hotspur', 'Watford', 'West Bromwich Albion',
       'West Ham United', 'Wigan Athletic', 'Wolverhampton Wanderers'],
      dtype=object)

In [97]:
#remove the age column
prem_champ_df = prem_champ_df.drop(columns=['age'])

In [98]:
#unmelt this dataframe
prem_champ_df = prem_champ_df.pivot(index='club_name', columns='year', values='fee_cleaned').reset_index()
prem_champ_df

year,club_name,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,AFC Bournemouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.055,8.520,55.760,64.380,34.300,111.800,89.535,93.550,39.540,83.100
1,Arsenal,7.850,3.560,11.380,20.550,14.255,30.445,16.700,66.950,105.825,...,61.400,146.780,29.000,123.350,314.850,89.250,214.450,105.150,198.800,216.160
2,Aston Villa,4.824,5.401,16.637,15.971,12.487,13.850,67.780,14.920,41.935,...,27.940,14.765,131.250,131.300,20.630,35.250,162.500,104.120,256.800,154.140
3,Birmingham City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.950,1.260,8.140,10.285,22.350,2.500,34.080,36.040,0.350,0.600
4,Bolton Wanderers,NaN,NaN,NaN,16.569,NaN,16.123,NaN,NaN,NaN,...,2.130,0.643,1.770,NaN,6.885,0.225,NaN,NaN,NaN,NaN
5,Brentford,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.400,35.900,19.550,26.490,41.500,75.570,69.300,37.700,55.100
6,Brighton & Hove Albion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.195,17.020,13.470,8.750,66.900,100.740,70.240,49.100,153.500,193.630
7,Burnley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.195,12.620,46.405,46.800,85.740,41.000,37.400,3.400,89.900,121.660
8,Cardiff City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.555,50.523,5.900,11.280,15.320,40.200,37.815,6.565,5.200,0.655
9,Chelsea,8.905,8.687,7.880,3.740,20.155,20.350,25.150,34.235,90.114,...,208.280,280.510,183.990,241.700,455.100,292.050,202.266,304.350,242.600,679.320
10,Crystal Palace,3.207,NaN,2.712,NaN,NaN,19.794,NaN,NaN,NaN,...,33.000,34.090,34.200,151.400,51.950,12.200,62.975,42.400,85.620,52.060
11,Everton,4.153,5.755,14.630,17.400,26.135,22.575,42.200,28.430,70.034,...,77.900,42.060,59.200,146.800,329.580,128.450,208.800,77.800,85.500,181.800
12,Fulham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33.450,35.330,18.185,49.330,38.370,121.850,65.500,37.250,27.500,92.400
13,Huddersfield Town,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.530,4.320,11.035,5.900,63.205,63.030,42.100,31.600,2.300,14.320
14,Hull City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.980,66.917,46.600,68.900,65.015,2.400,25.940,NaN,0.800,30.500
15,Leeds United,5.680,13.452,6.785,9.720,17.575,21.260,8.650,57.955,65.485,...,2.270,21.940,12.470,16.160,45.930,18.700,30.690,127.800,59.300,259.090
16,Leicester City,NaN,NaN,4.985,NaN,12.741,4.925,9.900,22.875,21.400,...,1.650,22.860,59.350,158.150,133.945,210.400,192.800,113.170,71.600,129.400
17,Liverpool,8.375,8.928,15.810,20.950,6.500,31.570,20.520,66.075,53.614,...,90.600,250.700,217.050,165.280,358.150,223.520,54.900,101.250,116.550,218.000
18,Manchester City,1.847,7.591,5.360,18.693,NaN,NaN,NaN,NaN,21.739,...,126.800,133.100,275.906,251.600,408.850,136.190,237.820,237.400,232.700,312.970
19,Manchester United,5.744,9.468,17.337,20.568,19.218,17.970,48.500,8.300,21.580,...,78.930,242.050,256.670,232.250,243.900,113.250,315.980,103.300,172.700,256.530
20,Newcastle United,NaN,11.604,21.900,41.655,26.464,51.720,72.900,48.700,52.300,...,29.670,68.890,113.540,165.127,67.720,110.800,108.540,39.275,130.500,187.650
21,Norwich City,2.494,3.825,13.875,NaN,NaN,NaN,NaN,NaN,NaN,...,34.885,39.730,71.990,63.150,48.756,43.050,11.015,57.285,101.950,16.760
22,Nottingham Forest,6.260,NaN,6.940,18.550,10.390,NaN,27.255,NaN,NaN,...,12.150,20.200,9.500,23.058,24.355,36.935,25.750,30.890,7.869,189.250
23,Queens Park Rangers,0.572,4.218,5.499,17.973,NaN,NaN,NaN,NaN,NaN,...,26.875,69.578,29.220,29.750,0.700,4.000,8.460,25.686,1.850,0.900
24,Sheffield United,0.587,6.357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5.640,19.100,70.850,62.700,28.300,4.500
25,Southampton,8.897,6.790,6.290,2.363,8.374,13.810,20.200,4.130,0.145,...,43.800,219.830,112.800,153.950,159.600,88.350,88.800,63.600,103.450,149.150
26,Stoke City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.000,5.600,76.850,45.965,92.840,93.050,7.976,4.075,20.800,17.000
27,Sunderland AFC,NaN,NaN,NaN,NaN,7.610,NaN,NaN,28.800,22.390,...,56.290,29.770,77.050,65.670,34.545,NaN,NaN,NaN,NaN,6.060
28,Swansea City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.612,103.430,38.615,107.400,154.485,58.400,40.250,18.213,10.526,12.950
29,Tottenham Hotspur,18.175,11.493,9.445,27.570,9.933,23.450,11.580,18.800,28.195,...,260.945,92.630,158.250,135.800,224.800,5.350,215.000,123.800,130.520,216.650
30,Watford,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.892,NaN,...,2.075,9.550,92.550,128.550,92.140,81.940,81.400,67.500,56.350,79.640
31,West Bromwich Albion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.100,27.180,55.820,64.875,55.550,41.790,58.770,50.240,29.720,1.345
32,West Ham United,NaN,4.629,10.638,9.797,17.070,14.605,30.150,18.976,61.056,...,24.530,39.550,71.220,124.500,125.820,114.665,175.280,100.110,78.735,215.550
33,Wigan Athletic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.815,32.560,NaN,10.185,NaN,12.595,7.925,NaN,NaN,0.000
34,Wolverhampton Wanderers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.680,24.419,39.090,30.930,136.050,140.800,166.789,69.400,237.477

In [99]:
#save prem champ as a csv file
prem_champ_df.to_csv('fees.csv', index=False)

In [25]:
#show unique clubs in prem_df
prem_df['club_name'].unique()

array(['Middlesbrough', 'Norwich City', 'Oldham Athletic',
       'Queens Park Rangers', 'Sheffield Wednesday', 'Wimbledon',
       'Coventry City', 'Manchester United', 'Crystal Palace',
       'Nottingham Forest', 'Ipswich Town', 'Arsenal', 'Chelsea',
       'Aston Villa', 'Leeds United', 'Sheffield United',
       'Manchester City', 'Southampton', 'Blackburn Rovers',
       'Tottenham Hotspur', 'Liverpool', 'Everton', 'Newcastle United',
       'West Ham United', 'Swindon Town', 'Leicester City',
       'Bolton Wanderers', 'Sunderland AFC', 'Derby County', 'Barnsley',
       'Charlton Athletic', 'Bradford City', 'Watford', 'Fulham',
       'West Bromwich Albion', 'Birmingham City', 'Portsmouth',
       'Wolverhampton Wanderers', 'Wigan Athletic', 'Reading',
       'Stoke City', 'Hull City', 'Burnley', 'Blackpool', 'Swansea City',
       'Cardiff City', 'AFC Bournemouth', 'Brighton & Hove Albion',
       'Huddersfield Town', 'Brentford'], dtype=object)

In [43]:
#show all columns
pd.set_option('display.max_columns', None)